*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  min-height: min-content;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;

}

body {
  color: white;
  font-family: "DM Sans";
  font-weight: 500;
  min-height: 100svh;
  background: url("images/bg.png") no-repeat -50vh 10% / 100%, hsl(202, 24%, 8%);
}

@media screen and (max-width: 768px) {
  body {
    background-size: 250%;
    background-position: -50vh 30vh;
  }
}

/* 
main {
  display: flex;
  flex-direction: column;
  animation: hue 30s infinite;
}
  */

:root {
  --selection-bg: #666b;
  --selection-text: #fff;
}

::selection {
  background-color: var(--selection-bg);
}

a {
  text-decoration: none;
  color: white;
  overflow: hidden;

  & i {
    scrollbar-width: none;
    overflow: clip;
  }
}

#header-icons {
  display: flex;
  gap: 1em .75em;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  scrollbar-width: none;

  & a {
    height: 1.33em;
    /* line-height: 1.33em; */
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: .25em;
    /* filter: grayscale(1); */
  }

  & i {
    display: inline-block;
    width: 100%;
  }
}

/* h1 {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px currentColor;
} */

#links {
  & a {
    display: flex;
    color: gainsboro;
    align-items: center;
    position: relative;
    transition: 0.3s all ease-in-out;
    gap: 0.25em;
    text-shadow: 0 0 1px rgba(155, 155, 155, 0.6);

    & i {
      padding-inline-end: 0.5em;
      padding: 0.25em 0.5em 0.25em 0.05em;
      display: inline-block;
      font-size: 0.8em;
      height: max-content;
      width: 2em;
    }
  }


  /* & a::after {
    font-sfamily: FontAwesome;
    content: '\f08e';
    font-size: .67em;
    margin-left: auto;
    padding-inline-start: .5em;
  } */
  & span {
    position: relative;
  }

  & h4 {
    font-variant: small-caps;
    position: relative;
  }

  & a:hover {
    transform: scale(0.92);
    transform: translateY(-0.2rem);
    color: white;
  }

  & a>i:nth-of-type(2) {
    position: absolute;
    right: 1em;
    padding: 0.3em 0.667em;
    background-color: #1111;
    border-radius: 50%;
    z-index: 10;
  }
}

#links:has(a:hover) a:not(:hover) {
  opacity: 0.8;
}

main #links a.large-btn {
  height: 15em;
  display: flex;
  align-items: center;
  overflow: visible;

  & i {
    align-self: flex-end;
    line-height: 1.33;
  }

  & span {
    align-self: flex-end;
  }
}

/*
 *  This is for the Modal
 *  Very Messy
*/

.modal {
  backdrop-filter: blur(0.25em);

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    padding: 1em;
    border: 1px solid rgba(80, 80, 80, 0.6) x;
    border-radius: 0.25em;
    max-width: 628px;
    width: 33%;

    & li {
      display: flex;
      gap: 0.5em;
      align-items: center;
      border-radius: inherit;
      background-color: #4443;
      cursor: pointer;
      padding: 0.25em 0.5em;
      border: 2px solid rgba(80, 80, 80, 0.6);
      width: 100%;

      & a,
      button {
        font-size: 0.5em;
        width: 100%;
      }

      & i {
        padding: 0.125em;
        height: 1.25em;
        aspect-ratio: 1/1;
        display: grid;
        border-radius: 0.5rem;
        color: attr(data-color);
        place-items: center;
      }
    }

    & li:not(:last-of-type):after {
      font-family: FontAwesome;
      content: "\f08e";
      font-size: 0.33em;
      margin-left: auto;
      padding-inline-start: 0.5em;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    & ul {
      max-width: 60%;
      width: 100%;
    }
  }
}